body {
    background-color: #131313;
    color: #ffff;
    font-family: 'poppins, sans-serif';
    padding: 0;
    margin: 0;
}

div, h1 {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
    color: red;
}